language: java
sudo: false

before_install:
  - rvm install 2
  - rvm use 2
  - gem install hiptest-publisher
  - hiptest-publisher -c hiptest-publisher.config --only=tests --test-run-id=93665

script:
  - mvn package

after_script:
  - hiptest-publisher -c hiptest-publisher.config -p "target/surefire-reports/TEST-com.coffeemachine.*.xml" --test-run-id=93665
